.pokemonCard {
  border-radius: 0.5rem;
  border: 1px solid #33333322;
  padding: 1rem;
  max-width: 400px;
  background-color: #33333311;
}

.pokemonType {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #ff07c1;
  background-color: pink;
  border-radius: 3px;
  margin-right: 5px;
}
